<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjsz.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- android:label="@string/app_name" 开发项目时改成实际项目名 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_my_bbout_us_img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登陆-->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!--主页-->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>


        <!-- 应用首页 -->
        <!-- 应用首页，消息中心页面 -->
        <activity
            android:name=".activity.home.ArchivesMessageCoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 应用首页，消息详情页面 -->
        <activity
            android:name=".activity.home.ArchivesMessageDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>



        <!-- 健康档案 -->
        <!-- 健康档案 通用查看个人病里 既往史，家族史，遗传病史，页面 -->
        <activity
            android:name=".activity.archives.ArchivesPublicQueryPastHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 健康档案 公共的添加个人病史里 既往史，家族史，遗传病史页面 -->
        <activity
            android:name=".activity.archives.ArchivesPublicAddPastHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 健康档案 个人信息页面 -->
        <activity
            android:name=".activity.archives.ArchivesPersonMessageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>



        <!-- 健康数据 -->
        <!-- 健康数据，健康数据通用检测报告详情页面 -->
        <activity
            android:name=".activity.data.DataPublicTestingPresentationDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 健康数据，健康分析页面 -->
        <activity
            android:name=".activity.data.DataHealthyAnalysisActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 健康数据，健康分析页面，更多 -->
        <activity
            android:name=".activity.data.DataHealthyAnalysisMoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 健康数据，血压详情页面页面 -->
        <activity
            android:name=".activity.data.DataBloodPressureDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 个人中心 -->
        <!-- 个人中心 设置页面 -->
        <activity
            android:name=".activity.my.MySetingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 个人中心 我的机构页面 -->
        <activity
            android:name=".activity.my.MyMyMechanismActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 个人中心 关于我们页面 -->
        <activity
            android:name=".activity.my.MyAboutUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 个人中心 意见反馈页面 -->
        <activity
            android:name=".activity.my.MyFeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>